{% extends 'teampicker/base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}

{% block details %}
    <h2>Delete crowd</h2>

    <p>Are you sure you want to delete the crowd {{ object.name }}?</p>

    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-danger">DELETE</button>
        <a class="btn btn-secondary" href="{% url 'teampicker:crowd-detail' object.pk %}" role="button">
            Cancel
        </a>
    </form>

{% endblock %}
