{% load i18n %}
{% load navactive %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'teampicker:index' %}">Team Picker</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% navactive request 'teampicker:crowd-list' %}">
                    <a href="{% url 'teampicker:crowd-list' %}">My crowds</a>
                </li>

                {% if request.resolver_match.url_name == "crowd-join" %}
                    <li class="active"><a href="#">Join crowd</a></li>
                {% endif %}

                {% if perms.freight.manage_crowds %}
                    <li class="{% navactive request 'teampicker:crowd-manage' %}">
                        <a href="{% url 'teampicker:crowd-manage' %}">Manage crowds</a>
                    </li>

                    {% if request.resolver_match.url_name == "crowd-add" %}
                        <li class="active"><a href="#">Create crowd</a></li>
                    {% endif %}

                    {% if request.resolver_match.url_name == "crowd-detail" %}
                        <li class="active"><a href="#">Crowd Detail</a></li>
                    {% endif %}

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
